name: 'ShutterBooth Hook to Cloud Run'

env:
  GCP_PROJECT_ID: 'game-test-421210'
  GCR_SERVICE_NAME: 'shutterbooth-hook'
  REGION: 'asia-southeast1'
  GAR_LOCATION: 'asia-southeast1-docker.pkg.dev'
  IMAGE: "$GAR_LOCATION/$GCP_PROJECT_ID/$GCR_SERVICE_NAME/sb-hook:main"

on:
  push:
    branches: [ "main", "github-action" ]

jobs:
  build-and-deploy:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: 'actions/checkout@v4'

    - name: 'GCloud Auth'
      uses: 'google-github-actions/auth@v2'
      with:
        project_id: ${{ env.GCP_PROJECT_ID }}
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: 'Configure Docker'
      run: |-
        gcloud auth configure-docker ${{ env.GAR_LOCATION }} --quiet

    - name: 'Build image'
      run: "docker build -t ${{ env.IMAGE }} ."

    - name: 'Push image'
      run: "docker push ${{ env.IMAGE }}"

    - name: 'GCloud Deploy'
      uses: 'google-github-actions/deploy-cloudrun@v2'
      with:
        service: ${{ env.GCR_SERVICE_NAME }}
        image: ${{ env.IMAGE }}
        region: ${{ env.REGION }}
        env_vars: |-
          GO_PORT=80
          GO_ENV=production
          OMISE_API_KEY=${{ secrets.OMISE_API_KEY }}
          OMISE_SECRET_KEY=${{ secrets.OMISE_SECRET_KEY }}