name: 'ShutterBooth Hook to Cloud Run'

env:
  GCR_SERVICE_NAME: 'shutterbooth-hook'
  REGION: 'asia-southeast1'
  GAR_LOCATION: 'asia-southeast1-docker.pkg.dev/game-test-421210/shutterbooth-hook'
  TAG_LATEST: "$GAR_LOCATION:latest"
  TAG_COMMIT: "$GAR_LOCATION:$GITHUB_SHA"

on:
  push:
    branches: [ "main", "github-action" ]

jobs:
  build-and-deploy:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: 'actions/checkout@v4'

    - name: 'GCloud Auth'
      uses: 'google-github-actions/auth@v2'
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: 'Configure Docker'
      run: |-
        gcloud auth configure-docker ${{ secrets.GAR_LOCATION }} --quiet

    - name: 'Build image'
      run: docker build -t ${{ env.TAG_LATEST }} -t ${{ env.TAG_COMMIT }} .

    - name: 'Push image'
      run: docker push ${{ env.TAG_COMMIT }} && docker push ${{ env.TAG_LATEST }}

    - name: 'GCloud Deploy'
      uses: 'google-github-actions/deploy-cloudrun@v2'
      with:
        service: ${{ env.GCR_SERVICE_NAME }}
        image: 'gcr.io/cloudrun/hello'
        region: ${{ env.REGION }}
        env_vars: |-
          GO_PORT=80
          GO_ENV=production
          OMISE_API_KEY=${{ secrets.OMISE_API_KEY }}
          OMISE_SECRET_KEY=${{ secrets.OMISE_SECRET_KEY }}